// Here you can add other styles
.center-element {
  justify-content: center;
  margin-top: 10px;
}

.card-login {
  max-width: 100%;
  width: 40%;
  // align-self: center;
  // align-content: center;
}
